* {
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.peca {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 2px;
}

.jogador1, .idade1{
    background-color: red;
    border: 0;
}
.jogador1::placeholder, .idade1::placeholder{
    color: #ffffff;
    padding: 1rem;
}
.jogador2, .idade2{
    background-color: blue;
    border: 0;
}
.jogador2::placeholder, .idade2::placeholder{
    color: #ffffff;
    padding: 1rem;
}
.jogador3, .idade3{
    background-color: green;
    border: 0;
}
.jogador3::placeholder, .idade3::placeholder{
    color: #ffffff;
    padding: 1rem;
}
.jogador4, .idade4{
    background-color: yellow;
    border: 0;
}
.jogador4::placeholder, .idade4::placeholder{
    color: #000000;
    padding: 1rem;
}

.btnComecar{
    border: 0;
    border-radius: 1rem;
    background-color: #adadad;
    margin-top: 1rem;
    padding: 1rem;
    font-weight: bold;
}

.casa {
    width: 100px;
    height: 100px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.rowM {
    display: flex;
    justify-content: center;
    gap: 0;
}

.cell-number {
    position: absolute;
    font-size: 2rem;
    color: #000000;
}

.casa1 {
    border-radius: 20px 0 0 20px;
}

.casa10 {
    border-radius: 0 20px 0 0;
}

.casa12 {
    border-radius: 0 0 20px 0;
}

.casaFinal {
    border-radius: 20px 0 0 20px;
    background-image: url('../img/chegada.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.dado {
    transition: transform 1s;
    transform: translateX(0) scale(0.5);
}

.dado:hover,
.dado:focus {
    transform: translateX(0) scale(0.75);
}

.numJog {
    background-color: aqua;
    width: 4rem;
    height: 4rem;
    list-style: none;
}

.numJog:hover,
.numJog:focus {
    background-color: rgb(255, 0, 0);
}

.alternativa{
    width: 15rem;
    height: 4rem;
    border-radius: 3rem;
    margin: 0.5rem;
}
.modal-body{
    display: flex;
}
.input-nomes{
    display: flex;
    flex-direction: column;
}
.input-idades{
    display: flex;
    flex-direction: column;
}